---
import AboutHeroImage from '../assets/blog-placeholder-about.png';
import Layout from '../layouts/WikiLayout.astro';
---

<Layout
	title="Acerca"
	description="que es musiki"
	heroImage={AboutHeroImage}
>
<h2>introducción</h2>
musiki es un repositorio de información musical y CMS performático para músicos. 
Originalmente basado en mediawiki, durante 2026 se construye una nueva versión pública. 
</Layout>
